@model HomeViewModel


<main>
    <div id="header">
        <div id="header-inner">
            <form id="search-form">
                <div class="row between">
                    <h1>Pokedex</h1>
                    <div>
                        <input id="search-input" type="text" />
                        <button type="submit" form="search-form">Search</button>
                    </div>
                </div>
                <div class="row end search-types-container">
                @foreach (var t in Model.Types)
                {
                        <label data-type="@t"><input type="checkbox" id="search-@t" data-type="@t" />@t</label>
                }
                </div>
            </form>
            <div>
                <button id="header-toggle-btn" type="button">vv</button>
            </div>
        </div>
        
    </div>

    <div id="display-container">
        <partial name="_PokemonCardContainer" model="@Model" />
    </div>
    <div id="get-more-trigger"></div>

    <div id="modal-overlay">
        <div id="modal"></div>
    </div>

</main>
