@model HomeViewModel


<main>
    <div id="header">
        <div id="header-inner">
            <div id="top-bar">
                <h1>Pokedex</h1>
                <form id="search-form">
                    <div class="row">
                        <input id="search-input" type="text" />
                        <button type="submit" form="search-form">Search</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div id="display-container">
        <partial name="_PokemonCardContainer" model="@Model" />
    </div>

    <button type="button" id="get-more-button">More</button>

    <div id="modal-overlay">
        <div id="modal"></div>
    </div>

</main>
