:root {
    background: #131313;
    --bg: #000;
    --bg-light: #131313;
    --border: #333;
    --text: #fff;
    --normal: #A8A77A;
    --fire: #EE8130;
    --water: #6390F0;
    --electric: #F7D02C;
    --grass: #7AC74C;
    --ice: #96D9D6;
    --fighting: #C22E28;
    --poison: #A33EA1;
    --ground: #E2BF65;
    --flying: #A98FF3;
    --psychic: #F95587;
    --bug: #A6B91A;
    --rock: #B6A136;
    --ghost: #735797;
    --dragon: #6F35FC;
    --dark: #705746;
    --steel: #B7B7C;
    --fairy: #D685AD;
    --card-gradient-end: 30%;
    --card-gradient-loc: 70% 50%;
    --card-image-loc: 70%;
}


.pokemonCard.Water {
    background: radial-gradient(circle at var(--card-gradient-loc), var(--water) 0%, var(--bg) var(--card-gradient-end));
}

.pokemonCard.Fire {
    background: radial-gradient(circle at var(--card-gradient-loc), var(--fire) 0%, var(--bg) var(--card-gradient-end));
}

.pokemonCard.Grass {
    background: radial-gradient(circle at var(--card-gradient-loc), var(--grass) 0%, var(--bg) var(--card-gradient-end));
}

.pokemonCard.Poison {
    background: radial-gradient(circle at var(--card-gradient-loc), var(--poison) 0%, var(--bg) var(--card-gradient-end));
}

.pokemonCard.Flying {
    background: radial-gradient(circle at var(--card-gradient-loc), var(--flying) 0%, var(--bg) var(--card-gradient-end));
}

.pokemonCard.Fighting {
    background: radial-gradient(circle at var(--card-gradient-loc), var(--fighting) 0%, var(--bg) var(--card-gradient-end));
}

.pokemonCard.Rock {
    background: radial-gradient(circle at var(--card-gradient-loc), var(--rock) 0%, var(--bg) var(--card-gradient-end));
}

.pokemonCard.Ground {
    background: radial-gradient(circle at var(--card-gradient-loc), var(--ground) 0%, var(--bg) var(--card-gradient-end));
}

.pokemonCard.Electric {
    background: radial-gradient(circle at var(--card-gradient-loc), var(--electric) 0%, var(--bg) var(--card-gradient-end));
}

.pokemonCard.Steel {
    background: radial-gradient(circle at var(--card-gradient-loc), var(--steel) 0%, var(--bg) var(--card-gradient-end));
}

.pokemonCard.Psychic {
    background: radial-gradient(circle at var(--card-gradient-loc), var(--psychic) 0%, var(--bg) var(--card-gradient-end));
}

.pokemonCard.Ghost {
    background: radial-gradient(circle at var(--card-gradient-loc), var(--ghost) 0%, var(--bg) var(--card-gradient-end));
}

.pokemonCard.Dragon {
    background: radial-gradient(circle at var(--card-gradient-loc), var(--dragon) 0%, var(--bg) var(--card-gradient-end));
}

.pokemonCard.Bug {
    background: radial-gradient(circle at var(--card-gradient-loc), var(--bug) 0%, var(--bg) var(--card-gradient-end));
}

.pokemonCard.Ice {
    background: radial-gradient(circle at var(--card-gradient-loc), var(--ice) 0%, var(--bg) var(--card-gradient-end));
}

.pokemonCard.Dark {
    background: radial-gradient(circle at var(--card-gradient-loc), var(--dark) 0%, var(--bg) var(--card-gradient-end));
}

.pokemonCard.Fairy {
    background: radial-gradient(circle at var(--card-gradient-loc), var(--fairy) 0%, var(--bg) var(--card-gradient-end));
}

.pokemonCard.Normal {
    background: radial-gradient(circle at var(--card-gradient-loc), var(--normal) 0%, var(--bg) var(--card-gradient-end));
}


.color-Water {
    color: var(--water);
}

.color-Fire {
    color: var(--fire);
}

.color-Grass {
    color: var(--grass);
}

.color-Poison {
    color: var(--poison);
}

.color-Flying {
    color: var(--flying);
}

.color-Fighting {
    color: var(--fighting);
}

.color-Rock {
    color: var(--rock);
}

.color-Ground {
    color: var(--ground);
}

.color-Electric {
    color: var(--electric);
}

.color-Steel {
    color: var(--steel);
}

.color-Psychic {
    color: var(--psychic);
}

.color-Ghost {
    color: var(--ghost);
}

.color-Dragon {
    color: var(--dragon);
}

.color-Bug {
    color: var(--bug);
}

.color-Dark {
    color: var(--dark);
}

.color-Ice {
    color: var(--ice);
}

.color-Fairy {
    color: var(--fairy);
}

.color-Normal {
    color: var(--normal);
}


.bg-Water {
    background: var(--water);
}

.bg-Fire {
    background: var(--fire);
}

.bg-Grass {
    background: var(--grass);
}

.bg-Poison {
    background: var(--poison);
}

.bg-Flying {
    background: var(--flying);
}

.bg-Fighting {
    background: var(--fighting);
}

.bg-Rock {
    background: var(--rock);
}

.bg-Ground {
    background: var(--ground);
}

.bg-Electric {
    background: var(--electric);
}

.bg-Steel {
    background: var(--steel);
}

.bg-Psychic {
    background: var(--psychic);
}

.bg-Ghost {
    background: var(--ghost);
}

.bg-Dragon {
    background: var(--dragon);
}

.bg-Bug {
    background: var(--bug);
}

.bg-Dark {
    background: var(--dark);
}

.bg-Ice {
    background: var(--ice);
}

.bg-Fairy {
    background: var(--fairy);
}

.bg-Normal {
    background: var(--normal);
}