:root {
    background: #131313;
    --bg: #000;
    --bg-light: #131313;
    --border: #333;
    --text: #fff;
    --normal: #A8A77A;
    --fire: #EE8130;
    --water: #6390F0;
    --electric: #F7D02C;
    --grass: #7AC74C;
    --ice: #96D9D6;
    --fighting: #C22E28;
    --poison: #A33EA1;
    --ground: #E2BF65;
    --flying: #A98FF3;
    --psychic: #F95587;
    --bug: #A6B91A;
    --rock: #B6A136;
    --ghost: #735797;
    --dragon: #6F35FC;
    --dark: #705746;
    --steel: #B7B7C;
    --fairy: #D685AD;

    --card-gradient-end: 35%;
    --card-gradient-loc: 70%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@media (prefers-color-scheme: light) {
    :root {
        background: #efefef;
        --bg: #fff;
        --bg-light: #efefef;
        --text: #101010;

    }
}


main {
    padding: 1rem;
    max-width: 1400px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

.row.between {
    justify-content: space-between;
}

button {
    padding: .5rem 2rem;
    font-size: 1rem;
    background: var(--bg);
    border: 1px solid var(--text);
    color: var(--text);
}

#header {
    background: var(--bg);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    border-bottom: 1px solid var(--border);
}

#header-inner {
    max-width: 1400px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: auto 0;
    padding: 1rem;
}

    #header-inner #top-bar {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    #header-inner #top-bar form {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

        #header-inner #top-bar form input[type=text] {
            font-size: 1rem;
            padding: .5rem;
            background: var(--bg-light);
            color: var(--text);
            border: 1px solid var(--text);
        }

        #header h1 {
            color: var(--text);
            font-size: 3rem;
        }

#display {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    gap: 1.5rem;
    margin: 6rem 0rem 2rem;
}

.hide {
    display: none !important;
}

.pokemonCardTitle {
    font-size: 2rem;
    z-index: 2;
    position: relative;
}

.smaller {
    font-size: 1.5rem;
    /*vertical-align: super;*/
}

.pokemonCardTypeContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
    margin-top: .5rem;
    
    font-size: 1rem;
    margin-left: .5rem;
}


.pokemonCard {
    position: relative;
    width: 100%;
    padding: 1rem 1rem 2rem;
    color: var(--text);
    border-radius: .5rem;
    cursor: pointer;
    border: 1px solid var(--border);
    overflow: hidden;
}

.pokemonCard .row {
    z-index: 2;
    position: relative;
    
}

    .pokemonCard .row p {
        text-shadow: 1px 1px 1px var(--bg),
            -1px -1px 1px var(--bg),
            -1px 1px 1px var(--bg),
            1px -1px 1px var(--bg);
    }

    .pokemonCard img {
        width: 100px;
        height: auto;
        position: absolute;
        right: calc(calc(100% - var(--card-gradient-loc)) - 50px);
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
        transition-duration: 200ms;
    }

    .pokemonCard:hover img {
        scale: 110%;
    }


.pokemonCard.Water {
    background: radial-gradient(circle at var(--card-gradient-loc), var(--water) 0%, var(--bg) var(--card-gradient-end));
}

    .pokemonCard.Fire {
        background: radial-gradient(circle at var(--card-gradient-loc), var(--fire) 0%, var(--bg) var(--card-gradient-end));
    }

    .pokemonCard.Grass {
        background: radial-gradient(circle at var(--card-gradient-loc), var(--grass) 0%, var(--bg) var(--card-gradient-end));
    }

    .pokemonCard.Poison {
        background: radial-gradient(circle at var(--card-gradient-loc), var(--poison) 0%, var(--bg) var(--card-gradient-end));
    }

    .pokemonCard.Flying {
        background: radial-gradient(circle at var(--card-gradient-loc), var(--flying) 0%, var(--bg) var(--card-gradient-end));
    }

    .pokemonCard.Fighting {
        background: radial-gradient(circle at var(--card-gradient-loc), var(--fighting) 0%, var(--bg) var(--card-gradient-end));
    }

    .pokemonCard.Rock {
        background: radial-gradient(circle at var(--card-gradient-loc), var(--rock) 0%, var(--bg) var(--card-gradient-end));
    }

    .pokemonCard.Ground {
        background: radial-gradient(circle at var(--card-gradient-loc), var(--ground) 0%, var(--bg) var(--card-gradient-end));
    }

    .pokemonCard.Electric {
        background: radial-gradient(circle at var(--card-gradient-loc), var(--electric) 0%, var(--bg) var(--card-gradient-end));
    }

    .pokemonCard.Steel {
        background: radial-gradient(circle at var(--card-gradient-loc), var(--steel) 0%, var(--bg) var(--card-gradient-end));
    }

    .pokemonCard.Psychic {
        background: radial-gradient(circle at var(--card-gradient-loc), var(--psychic) 0%, var(--bg) var(--card-gradient-end));
    }

    .pokemonCard.Ghost {
        background: radial-gradient(circle at var(--card-gradient-loc), var(--ghost) 0%, var(--bg) var(--card-gradient-end));
    }
    .pokemonCard.Dragon {
        background: radial-gradient(circle at var(--card-gradient-loc), var(--dragon) 0%, var(--bg) var(--card-gradient-end));
    }
    .pokemonCard.Bug {
        background: radial-gradient(circle at var(--card-gradient-loc), var(--bug) 0%, var(--bg) var(--card-gradient-end));
    }
    .pokemonCard.Ice {
        background: radial-gradient(circle at var(--card-gradient-loc), var(--ice) 0%, var(--bg) var(--card-gradient-end));
    }

    .pokemonCard.Dark {
        background: radial-gradient(circle at var(--card-gradient-loc), var(--dark) 0%, var(--bg) var(--card-gradient-end));
    }

    .pokemonCard.Fairy {
        background: radial-gradient(circle at var(--card-gradient-loc), var(--fairy) 0%, var(--bg) var(--card-gradient-end));
    }
    .pokemonCard.Normal {
        background: radial-gradient(circle at var(--card-gradient-loc), var(--normal) 0%, var(--bg) var(--card-gradient-end));
    }


.color-Water {
    color: var(--water);
}

.color-Fire {
    color: var(--fire);
}

.color-Grass {
    color: var(--grass);
}

.color-Poison {
    color: var(--poison);
}

.color-Flying {
    color: var(--flying);
}

.color-Fighting {
    color: var(--fighting);
}

.color-Rock {
    color: var(--rock);
}

.color-Ground {
    color: var(--ground);
}

.color-Electric {
    color: var(--electric);
}

.color-Steel {
    color: var(--steel);
}

.color-Psychic {
    color: var(--psychic);
}

.color-Ghost {
    color: var(--ghost);
}

.color-Dragon {
    color: var(--dragon);
}

.color-Bug {
    color: var(--bug);
}
.color-Dark {
    color: var(--dark);
}

.color-Ice {
    color: var(--ice);
}

.color-Fairy {
    color: var(--fairy);
}

.color-Normal {
    color: var(--normal);
}



@media screen and (max-width: 1380px) {
    #display {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .pokemonCardTitle {
        font-size: 1.75rem;
    }
}

@media screen and (max-width: 900px) {
    #display {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 600px) {
    #display {
        grid-template-columns: 1fr;
        margin-top: 8.5rem;
    }
    #header-inner #top-bar {
        flex-direction: column;
        align-items: flex-start;
        gap: .5rem;
    }
}