@model PokedexMVC.Models.Pokemon

<div class="pokemonCard @Model.type[0]">
    <p class="pokemonCardTitle"><span>#@Model.number</span> @Model.name</p>
    <div className="pokemonCardTypeContainer">
        @foreach(var t in Model.type)
        {
            <span class="color-@t">@t</span>
        }
    </div>
    <img src="@Model.image.small" />
</div>
